@keyframes rotateBackground {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.main-nav {
	position: absolute;
	display: flex;
	left: 15%;
	top: 50px;
	width: 500px;
	height: 50px;
}

.main-nav a {
	color: black;
	text-decoration: none;
	margin-right: 30px;
	font-size: 1.7em;
	transition: color 0.2s ease-in-out;
}

.main-nav a:hover {
	color: rgb(80, 180, 200);
}

.main-nav a:visited {
	text-decoration: none;
}

section h1, section h3 {
	margin: 0;
}

section {
	overflow: hidden;
	min-height: 600px;
}

.faded-moon {
	position: absolute;
	opacity: 0.35;
	z-index: -99;
	top: 100px;
	left: 125px;
	height: 425px;
	width: 425px;
	background-image: url("../assets/faded-moon.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.line {
	position: absolute;
	border-bottom: 1px solid #a5a5a5;
	width: 175vw;
	height: 1px;
}

.diagonal-1 {
	top: 130px;
	transform: rotate(40deg);
}

.diagonal-2 {
	top: 450px;
	right: -2px;
	transform: rotate(40deg);
}

#hello-section {
	height: 100vh;
	position: relative;
}

#hello-wrapper {
	height: 100%;
	width: 100%;
}

#hello-header {
	font-size: 15em;
}

#hello-inner-wrapper {
	margin-left: 40%;
	margin-top: 150px;
}

#welcome {
	font-size: 1.92em;
	position: relative;
	bottom: 45px;
}

#welcome-wrapper {
	position: absolute;
	height: 10px;
	margin-left: 16px;
}

.begin-scrolling {
	position: absolute;
	font-size: 2em;
	top: 540px;
	left: 55%;
}






#web-dev-section {
	position: relative;
	height: 108vh;
	width: 100%;
	background-color: #131727;
	color: white;
}

.p-wrapper {
	width: 600px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}

.p-wrapper p {
	font-size: 1.4em;
}

.web-header-wrapper {
	text-align: center;
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
}

#web-dev-header {
	font-size: 7em;
}

.dev-skills-container {
	position: relative;
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top: 15px;
	font-size: 1.5em;
}

.dev-skills-container a {
	text-decoration: none;
	color: white;
}

.dev-skills-container a:hover {
	opacity: 0.5;
}

.project-link-container {
	width: 300px;
	height: 35px;
	padding-top: 3px;
	margin: 0 auto;
	text-align: center;
}

.project-link-container a {
	text-decoration: none;
	color: white;
	font-size: 1.7em;
}

.project-link-container a:hover {
	opacity: 0.5;
}




@keyframes rotateGradient {
	0% {
		background: linear-gradient(0deg, rgb(0, 200, 255), rgb(163, 32, 255), rgb(246, 38, 129));
	}

	100% {
		background: linear-gradient(360deg, rgb(0, 200, 255), rgb(163, 32, 255), rgb(246, 38, 129));
	}
}


#graphic-design-section {
	align-items: center;
	background: linear-gradient(30deg, rgb(0, 200, 255), rgb(163, 32, 255), rgb(246, 38, 129));
/*	background-attachment: fixed;
	background-image: url(../assets/swirly-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
	display: flex;
	justify-content: center;
	min-height: 600px;
	height: 100vh;
	width: 100%;
}

#graphic-design-container {
	background-color: #191325;
	height: 93%;
	width: 95%;
	min-width: 1000px;
/*	padding-top: 350px;
	padding-left: 20%;*/
}

#graphic-header-wrapper {
	margin: 0 auto;
	padding-top: 20vh;
	text-align: center;
	width: 800px;
}

#graphic-design-header {
	color: white;
	font-size: 11em;
}

#design-p {
	padding-top: 25px;
	color: white;
}

@media screen and (max-width: 960px) {
	.main-nav {
		width: 200px;
	}

	.main-nav a {
		margin-right: 45px;
	}

	.faded-moon {
		height: 300px;
		width: 300px;
		top: 215px;
		left: 60px;
	}

	.diagonal-1 {
		display: none;
	}

	.diagonal-2 {
		display: none;
	}

	#hello-inner-wrapper {
		margin-left: 20%;
		margin-top: 225px;
	}

	#hello-header {
		font-size: 6.5em;
	}

	#welcome {
		font-size: 1.5em;
		bottom: 15px;
		right: 8px;
	}

	.begin-scrolling {
		width: 100%;
		top: 550px;
		left: 0;
		text-align: center;
		font-size: 1.8em;
	}


	#web-dev-header {
		font-size: 3em;
		margin-bottom: 15px;
	}

	.dev-skills-container {
		font-size: 1.5em;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}

	.p-wrapper {
		width: 90%;
		height: auto;
		font-size: .9em;
	}


	#graphic-header-wrapper {
		width: auto;
	}

	#graphic-design-container {
		min-width: auto;
	}

	#graphic-design-header {
		font-size: 5em;
	}

	#design-p {
		padding-top: 0;
	}
}