*, html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

section {
	width: 100%;
	background-color: #333;
	padding: 20px 0;
}

.main-nav {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.main-nav a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.4em;
}

.main-nav a:hover {
	color: rgb(80, 180, 200);
}

#headline-container {
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

h1 {
	color: white;
	font-size: 4em;
	margin: 20px 0;
}

a {
	color: black;
	text-decoration: none;
}

#content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay:hover {
  opacity: 1;
}

.project-box {
	height: 450px;
	margin: 15px;
	width: 500px;
}

.web-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
}

#bakery-site {
	background-image: url("../assets/website-screenshots/bakery-site.png");
}

#react-site {
	background-image: url("../assets/website-screenshots/react-site.png");
}

#ruby-site {
	background-image: url("../assets/website-screenshots/ruby-site.png");
}

#github-screenshot {
	background-image: url("../assets/website-screenshots/github-screenshot.png");
}

.description-box {
	text-align: center;
	background-color: white;
	height: 150px;
	width: 100%;
}

.box-info-container {
	width: 100%;
	padding: 15px;
}

.box-info-container p {

}

.description-headline {
	padding-top: 20px;
}

h3 {
	margin: 0;
	font-size: 1.3em;
}